/* Reset and base styles  */
@import url(/fonts/font/stylesheet.css);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  font-family: "gilroy";
  font-size: 16px;
  line-height: 1.6875;
  color: #393939;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

body.active {
  overflow: hidden;
}

section,
header,
main,
footer {
  overflow: hidden;
}

/* Grid styles */
.container {
  max-width: 1609px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(252, 232, 183, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding-top: 16px;
  padding-bottom: 16px;
}
.header .wrapper-logo {
  margin-right: 196px;
}

.header__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1262px;
}

.header__navigation {
  margin-right: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  padding-bottom: 5px;
}
.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 562px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-links {
  padding-bottom: 5px;
}
.contact-links a {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
}

.preview {
  padding-top: 190px;
  padding-bottom: 190px;
  background: #fef3d8;
  background: linear-gradient(250deg, #fef3d8 0%, #ffe6a9 50%, #fff4d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fef3d8",endColorstr="#fff4d9",GradientType=1);
  border-radius: 26% 26% 48% 52% / 0% 0% 15% 15%;
}

.preview__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 90px;
          column-gap: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preview__content > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.preview__info {
  max-width: 450px;
}

.preview__description {
  font-weight: 400;
  font-size: 27px;
  line-height: 1.3;
  color: #393939;
  margin-bottom: 65px;
}

.preview__avatar {
  position: relative;
  width: 647px;
  height: 589px;
}

.preview__trends {
  position: absolute;
}
.preview__trends--bottle {
  width: 183px;
  height: 132px;
  left: -37px;
  top: 27px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 189, 237, 0.5) 0%, rgba(246, 255, 254, 0) 100%);
}
.preview__trends--moon {
  height: 158px;
  width: 110px;
  right: 32px;
  top: 138px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 196, 90, 0.35) 0%, rgba(255, 209, 126, 0) 100%);
}
.preview__trends--hat {
  width: 163px;
  height: 119px;
  left: 68px;
  bottom: -68px;
  background: radial-gradient(41.11% 41.11% at 50% 50%, rgba(255, 87, 127, 0.55) 0%, rgba(255, 238, 252, 0) 100%);
}

.about-us {
  padding-bottom: 36px;
  padding-top: 60px;
}

.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 29px;
          column-gap: 29px;
}
.about-us__content--second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-us__img {
  width: 600px;
  height: 605px;
}

.about-us__info {
  width: 601px;
}

.about-us__wrapper-title {
  margin-bottom: 33px;
}

.about-us__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 41px;
}
.about-us__description p:not(:last-child) {
  margin-bottom: 11px;
}

.advantages-list {
  width: 525px;
}
.advantages-list li:not(:last-child) {
  margin-bottom: 30px;
}
.advantages-list li:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("/img/icon/eclipse.svg");
  margin-right: 13px;
  vertical-align: middle;
}

.our-courses {
  padding-top: 115px;
  padding-bottom: 115px;
  background: #fef3d8;
  background: linear-gradient(250deg, #fef3d8 0%, #ffe6a9 50%, #fff4d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fef3d8",endColorstr="#fff4d9",GradientType=1);
  border-radius: 50% 50% 50% 50% / 10% 10% 10% 10%;
}
.our-courses .banner {
  margin: 0 auto 170px;
}
.our-courses__item-block {
  max-width: 1165px;
  margin: 0 auto;
}
.our-courses__row-cards {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 78px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 110px;
          column-gap: 110px;
}

.contacts__info {
  max-width: 400px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 25px;
}

.branches-list {
  font-weight: 300;
  line-height: 26px;
  font-size: 18px;
}
.branches-list li:not(:last-child) {
  margin-bottom: 35px;
}

.contacts__map {
  width: 651px;
  height: 536px;
  border-radius: 47px;
  overflow: hidden;
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
}

.footer {
  padding-top: 115px;
  padding-bottom: 115px;
  background: #fef3d8;
  background: linear-gradient(250deg, #fef3d8 0%, #ffe6a9 50%, #fff4d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fef3d8",endColorstr="#fff4d9",GradientType=1);
  border-radius: 26% 26% 48% 52% / 15% 15% 0% 0%;
}
.footer .wrapper-logo {
  margin-bottom: 21px;
}

.footer__top {
  display: grid;
  grid-template-columns: 298px 180px 150px 240px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 150px;
          column-gap: 150px;
  padding-bottom: 50px;
}

.footer__item {
  max-width: 298px;
}
.footer__item:not(:first-child) {
  padding-top: 35px;
  font-size: 18px;
  line-height: 1.63;
}

.footer__description {
  font-size: 18px;
}
.footer__description p:not(:last-child) {
  margin-bottom: 25px;
}
.footer__description:nth-child(2) {
  margin-bottom: 11px;
}

.contacts__title--footer {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 21px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 670px;
          column-gap: 670px;
}

.contact-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
          column-gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-btn {
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding-left: 97px;
  padding-right: 97px;
  font-weight: 700;
  font-size: 19px;
  line-height: 69px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  color: #FFF !important;
  -webkit-box-shadow: 0px 20px 24px -13px rgba(247, 180, 14, 0.38);
          box-shadow: 0px 20px 24px -13px rgba(247, 180, 14, 0.38);
  border-radius: 114px;
  background-color: #F5B920;
}
.action-btn--banner-btn {
  color: #F5B920 !important;
  background-color: #FFF;
  -webkit-box-shadow: 0px 20px 24px -13px rgba(255, 255, 255, 0.59);
          box-shadow: 0px 20px 24px -13px rgba(255, 255, 255, 0.59);
}
.action-btn--banner-btn::before {
  background-color: rgba(247, 201, 84, 0.253) !important;
}
.action-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.action-btn:hover::before {
  left: 0;
}
.action-btn::before {
  content: '';
  border-radius: 114px;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.24);
}

.main-title {
  font-weight: 700;
  font-size: 74px;
  line-height: 1.08;
  color: #F5B920;
}

.wrapper-main-subtitle {
  margin-bottom: 50px;
}

.main-subtitle {
  font-weight: 700;
  font-size: 74px;
  line-height: 1.08;
  color: #393939;
}

.section-title {
  font-weight: 700;
  font-size: 57px;
  line-height: 1.2;
  color: #F5B920;
}
.section-title--black {
  color: #393939;
}

.section-title__color-part--color-one {
  color: #00BDED;
}

.title__color-part {
  color: #393939;
}

.wrapper-section-title {
  margin-bottom: 55px;
}
.wrapper-section-title--block {
  max-width: 1165px;
  margin: 0 auto 60px;
}

.wrapper-block-title {
  margin-bottom: 25px;
}

.block-title {
  color: #393939;
  font-size: 24px;
  font-weight: 700;
}

.context-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.08;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #00BDED !important;
  text-underline-offset: 4px;
}
.context-link--card {
  color: #F5B920 !important;
}

.wrapper-banner {
  position: relative;
  width: 1258px;
  margin: 0 auto 170px;
}

.banner {
  position: relative;
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
  width: 1258px;
  overflow: hidden;
  background-color: #F5B920;
  border-radius: 47px;
}
.banner::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 35%;
  display: inline-block;
  width: 291px;
  height: 143px;
  background-image: url(/img/banner/eclipse-shadow.svg);
  background-size: cover;
}

.banner__wrapper-title {
  padding-bottom: 27px;
}

.banner__title {
  color: #FFF;
  font-size: 57px;
  font-weight: 700;
}

.banner__description {
  width: 905px;
  padding-bottom: 43px;
  color: #FFF;
  font-size: 23px;
  line-height: 30px;
}

.banner__circles {
  position: absolute;
  bottom: -29%;
  right: -9%;
  width: 384.931px;
  height: 384.931px;
}

.banner__circles-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.banner__circles-item--big {
  width: 384.931px;
  height: 384.931px;
}
.banner__circles-item--medium {
  width: 263.803px;
  height: 263.803px;
}
.banner__circles-item--small {
  width: 137.107px;
  height: 137.107px;
}

.banner__icon {
  width: 150px;
  position: absolute;
}
.banner__icon--first {
  bottom: 35%;
  right: -6%;
  -webkit-filter: drop-shadow(0 0 20px #FF668A);
          filter: drop-shadow(0 0 20px #FF668A);
}
.banner__icon--second {
  bottom: 40%;
  right: 10%;
  -webkit-filter: drop-shadow(0 0 20px #FFFFFF);
          filter: drop-shadow(0 0 20px #FFFFFF);
}
.banner__icon--last {
  bottom: 0;
  right: 15%;
  -webkit-filter: drop-shadow(0 0 20px #B0EFFF);
          filter: drop-shadow(0 0 20px #B0EFFF);
}

.card-activities {
  min-height: 540px;
  min-width: 360px;
  max-width: 360px;
}
.card-activities:hover .card-activities__fake-block {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.card-activities:hover .card-activities__shadow {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
}
.card-activities:hover .card-activities__shadow--third {
  -webkit-transition: background-color 1s 0.5s, -webkit-transform 0.7s;
  transition: background-color 1s 0.5s, -webkit-transform 0.7s;
  transition: transform 0.7s, background-color 1s 0.5s;
  transition: transform 0.7s, background-color 1s 0.5s, -webkit-transform 0.7s;
  background-color: transparent;
}
.card-activities:hover .card-activities__shadow--second {
  -webkit-transition: background-color 1s 0.5s, -webkit-transform 0.7s 0.3s;
  transition: background-color 1s 0.5s, -webkit-transform 0.7s 0.3s;
  transition: transform 0.7s 0.3s, background-color 1s 0.5s;
  transition: transform 0.7s 0.3s, background-color 1s 0.5s, -webkit-transform 0.7s 0.3s;
  background-color: transparent;
}
.card-activities:hover .card-activities__shadow--first {
  -webkit-transition: -webkit-transform 0.7s 0.6s;
  transition: -webkit-transform 0.7s 0.6s;
  transition: transform 0.7s 0.6s;
  transition: transform 0.7s 0.6s, -webkit-transform 0.7s 0.6s;
}

.card-activities__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 6px 30px 27px;
  position: relative;
  z-index: 2;
  border-radius: 32px;
}
.card-activities__content > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-activites__number {
  color: rgba(57, 57, 57, 0.25);
  font-size: 86px;
  font-weight: 500;
}

.card-activites__item {
  min-height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-activities__title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 14px;
}

.card-activities__subtitle {
  color: #5A5959;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 7px;
}

.card-activities__description {
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 32px;
}

.card-activities__fake-block {
  height: 100%;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 32px;
  overflow: hidden;
}

.card-activities__circles {
  margin-left: -20px;
}

.card-activities__shadow {
  position: absolute;
  left: -100%;
  top: -100%;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card-activities__shadow--first {
  background-color: rgba(247, 181, 14, 0.247);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}
.card-activities__shadow--second {
  background-color: rgba(255, 102, 138, 0.247);
  -webkit-transition: background-color 1s, -webkit-transform 0.7s 0.3s;
  transition: background-color 1s, -webkit-transform 0.7s 0.3s;
  transition: transform 0.7s 0.3s, background-color 1s;
  transition: transform 0.7s 0.3s, background-color 1s, -webkit-transform 0.7s 0.3s;
}
.card-activities__shadow--third {
  background-color: rgba(0, 190, 237, 0.247);
  -webkit-transition: background-color 1s 0.5s, -webkit-transform 0.7s 0.6s;
  transition: background-color 1s 0.5s, -webkit-transform 0.7s 0.6s;
  transition: transform 0.7s 0.6s, background-color 1s 0.5s;
  transition: transform 0.7s 0.6s, background-color 1s 0.5s, -webkit-transform 0.7s 0.6s;
}

.reviews-slider {
  position: relative;
  min-height: 350px;
}

.reviews-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding: 10px;
  margin: 60px;
  width: 391px;
  height: 249px;
  border-radius: 47px;
  background: rgba(0, 189, 237, 0.12);
}

.reviews-slider__avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid transparent;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.reviews-slider__holder-img {
  overflow: hidden;
  border-radius: 50%;
  width: 71px;
  height: 71px;
}

.reviews-slider__text {
  font-size: 12px;
  font-weight: 400;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-center {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00BDED;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.slick-arrow svg {
  width: 35px;
  height: 35px;
}
.slick-arrow path {
  fill: #ffff;
}

.slick-prev {
  padding-right: 5px;
  left: 0;
}

.slick-next {
  padding-left: 5px;
  right: 0;
}

.slick-slide {
  -webkit-transition: background-color 0.8s, color 0.8s, -webkit-filter 0.8s;
  transition: background-color 0.8s, color 0.8s, -webkit-filter 0.8s;
  transition: filter 0.8s, background-color 0.8s, color 0.8s;
  transition: filter 0.8s, background-color 0.8s, color 0.8s, -webkit-filter 0.8s;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.slick-center {
  background-color: #00BDED;
  color: #ffff;
  -webkit-filter: none;
          filter: none;
}
.slick-center .reviews-slider__avatar {
  -webkit-transition: border-color 0.8s;
  transition: border-color 0.8s;
  border-color: #ffff;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.social-link {
  width: 56px;
  height: 56px;
}

.subscribe {
  position: relative;
}
.subscribe input[type=email] {
  padding: 14px 11px;
  border-radius: 30px;
  background-color: #FFF;
  -webkit-filter: drop-shadow(0px 8px 24px rgba(226, 192, 117, 0.6));
          filter: drop-shadow(0px 8px 24px rgba(226, 192, 117, 0.6));
}
.subscribe input[type=submit] {
  position: absolute;
  top: 0;
  right: 19px;
  background-color: #00BDED;
  color: #FFF;
  border-radius: 30px;
  padding: 14px 20px;
}

/*# sourceMappingURL=main.css.map */