.about-us {
    padding-bottom: 36px;
    padding-top: 60px;
}
.aims {

}
.about-us__content {
    display: flex;
    align-items: center;
    justify-content: center ;
    column-gap: 29px;
    
    &--second{

        flex-direction: row-reverse;
        
        .about-us__avatar-cirlces{
            position: absolute;
            top: 0;
            left: 0;
        
        &--big{
            width: 100%; 
            transform: translate(1%, 6%);
        }

        &--meduim{
            width: 75%;
            transform: translate(18%, 25%);
        }

        &--small{
            width: 59%;
            transform: translate(36%, 45%);
        }
    }
    }
}
.about-us__avatar {
    position: relative;
    width: 590px;
    height: 590px;
}
.about-us__avatar-img {
    position: absolute;
    top: 0;
    left: 0;
}
.about-us__avatar-wrapper-circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.about-us__avatar-cirlces{
    position: absolute;
    top: 0;
    left: 0;
    &--large{
        width: 100%;
    }
    &--big{
        width: 77%;  
        transform: translate(15%, 15%); 
    }
    &--meduim{
        width: 57%;
        transform: translate(38%, 38%); 
    }
    &--small{
        width: 44%;
        transform: translate(64%, 64%);  
    }
    &--very-small{
        width: 30%;
        transform: translate(115%, 115%); 
    }
}
.about-us__info {
    width: 601px;
}
.about-us__wrapper-title {
    margin-bottom: 33px;

}
.about-us__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 41px;

    p:not(:last-child){
        margin-bottom: 11px;
    }
}
.advantages-list{
    width: 525px;
    li:not(:last-child){
        margin-bottom: 30px;
    }
    li:before{
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        background-image: url("./img/icon/eclipse.svg");
        margin-right: 13px;
        vertical-align: middle;
    }
}
.about-us__wrapper-link {

}