.footer{
    padding-top: 115px;
    padding-bottom: 115px;
    background: rgb(254,243,216);
    background: -moz-linear-gradient(250deg, rgba(254,243,216,1) 0%, rgba(255,230,169,1) 50%, rgba(255,244,217,1) 100%);
    background: -webkit-linear-gradient(250deg, rgba(254,243,216,1) 0%, rgba(255,230,169,1) 50%, rgba(255,244,217,1) 100%);
    background: linear-gradient(250deg, rgba(254,243,216,1) 0%, rgba(255,230,169,1) 50%, rgba(255,244,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fef3d8",endColorstr="#fff4d9",GradientType=1);
    border-radius: 26% 26% 52% 52% / 15% 15% 0% 0%;

    @media (max-width: 1440px) {
        border-radius: 26% 26% 52% 52% / 5% 5% 0% 0%;
    }
    @media (max-width: 768px) {
        border-radius: 26% 26% 52% 52% / 2% 2% 0% 0%;
    }

    .wrapper-logo{
        margin-bottom: 21px;
    }
}
.footer__top {
    display: grid;
    grid-template-columns: 298px 180px 150px 240px;
    justify-content: center;
    column-gap: 150px;
    padding-bottom: 50px;
}
.footer__item {
    max-width: 298px;
    &:not(:first-child){
        padding-top: 35px;
        font-size: 18px;
        line-height: 1.63;
    }
}
.footer__description {
    font-size: 18px;
    p:not(:last-child){
        margin-bottom: 25px;
    }
    &:nth-child(2){
        margin-bottom: 11px;
    }
}
.contacts__title--footer{
    font-size: 24px;
    font-weight: 600;   
    margin-bottom: 21px;
}
.footer__bottom {
    display: flex;
    justify-content: center;
    column-gap: 670px;
}
