.wrapper-action-btn {

}
.action-btn {
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding-left: 97px;
    padding-right: 97px;
    font-weight: 700;
    font-size: 19px;
    line-height: 69px;
    transition: transform 0.5s;
    color: $colorTextSlider !important;
    box-shadow: 0px 20px 24px -13px rgba(247, 180, 14, 0.38);
    border-radius: 114px;
    background-color: $colorCardLinks;
    
    &--banner-btn{
        color: $colorCardLinks !important;
        background-color: #FFF;
        box-shadow: 0px 20px 24px -13px rgba(255, 255, 255, 0.59);
            

        &::before{
            background-color: rgba(247, 201, 84, 0.253) !important;
        }
    }
    &:hover{
        transform: scale(1.1);
        &::before{
            left: 0;
            
        }
    }
    &::before{
        content: '';
        border-radius: 114px;
        position: absolute;
        top: 0;
        left: -100%;
        transition: left 0.5s ;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.24);
    }
}