.wrapper-banner{
    position: relative;
    max-width: 1258px;
    margin: 0 auto 170px;
}
.banner{
    position: relative;
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    max-width: 1258px;
    overflow: hidden;
    background-color: $colorCardLinks;
    border-radius: 47px;

    @media (max-width: 768px) {
        padding-top: 35px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 10px;
    }
}
.banner__shadow-circles{
    position: absolute;
    bottom: 0;
    right: 35%;
    display: inline-block;
    width: 291px;
    height: 143px;
    background-size: cover;
    background-image: url("../img/circle-shadow-mobile.svg");
    @media (max-width: 425px) {
        bottom: 50%;
        right: -18%;
        transform: rotate(-90deg);
    }
}
.banner__wrapper-title {
    padding-bottom: 27px;
}
.banner__title {
    color: $colorTextSlider;
    font-size: 57px;
    font-weight: 700;
    @media (max-width: 1440px) {
    font-size: 48px;
    }
    @media (max-width: 768px) {
    line-height: 110.3%;
    }
}
.banner__description {
    max-width: 80%;
    padding-bottom: 43px;
    color: $colorTextSlider;
    font-size: 23px;
    line-height: 30px;
    @media (max-width: 768px) {
        max-width: 100%;
        font-size: 20px;
        line-height: normal;
    }
}
.banner__circles {
    position: absolute;
    bottom: -29%;
    right: -9%;
    width: 384.931px;
    height: 384.931px;

    @media (max-width: 768px) {
        bottom: -18%;
        right: -10%;
        width: 271.201px;
        height: 271.201px;
    }
    @media (max-width: 425px) {
        bottom: -18%;
        right: -25%;
    }
}
.banner__circles-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--big{
        width: 384.931px;
        height: 384.931px;

        @media (max-width: 768px) {
            width: 271.201px;
            height: 271.201px;
        }
    }
    &--medium{
        width: 263.803px;
        height: 263.803px;

        @media (max-width: 768px) {
        width: 185.862px;
        height: 185.862px;
        }
    }
    &--small{
        width: 137.107px;
        height: 137.107px;

        @media (max-width: 768px) {
            width: 96.598px;
            height: 96.598px;
        }
    }
}
.banner__icon{
    width: 150px;
    position: absolute;

    &--first{
        bottom: 35%;
        right: -6%;
        filter: drop-shadow(0 0 20px #FF668A);
        @media (max-width: 1440px) {
        right: -4%;
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }
    &--second{
        bottom: 40%;
        right: 10%;
        filter: drop-shadow(0 0 20px #FFFFFF);
        @media (max-width: 1024px) {
            bottom: 30%;
            right: 5%;
        }
        @media (max-width: 768px) {
            bottom: 0;
            right: 22%;
            width: 85px;
            height: 85px;
            transform: rotate(-45deg);
        }
        @media (max-width: 425px) {
            bottom: 0;
            right: 20%;
        }
    }
    &--last{
        bottom: 0;
        right: 15%;
        filter: drop-shadow(0 0 20px #B0EFFF);
        @media (max-width: 1024px) {
            right: 23%;
        }
        @media (max-width: 768px) {
            bottom: 17%;
            right: -3%;
            width: 100px;
            height: 100px;
            transform: rotate(15deg);
        }
        @media (max-width: 425px) {
            bottom: 16%;
            right: 1%;
        }
    }
}