
.wrapper-logo {
    z-index: 2;
    max-width: 125px;
}
.logo {
}
.burger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 32px;
    height: 32px;
    background-color: $colorCardLinks;
    border-radius: 50%;

    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        display: inline-block;
        width: 53px;
        height: 53px;
        border-radius: 50%;
        border: 5px solid $colorCardLinks;
        transition: width 1s,height 1s;
    }
    &--contact{
        background-color: transparent;
    }
    &.active{
        &::before{
            width: 0;
            height: 0;
            transition: width 1s,height 1s;
        }
        .burger-line{
            background-color: rgba(245, 245, 220, 0);
            transition: background-color 0.5s 0s;
            &::before{
                top: 0;
                transition: top 0.5s, transform 0.5s 0.5s;
                transform: rotate(-45deg);
            }
            &::after{
                top: 0;
                transition: top 0.5s, transform 0.5s 0.5s;
                transform: rotate(45deg);
            }
        }
    }
}
.burger-line {
    transition: background-color 0.5s 0s;
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    
    &::before,&::after{
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        width: 25px;
        height: 2px;
        background-color: white;
        border-radius: 5px;
        transition: transform 0.5s, top 0.5s 0.5s;  
    }
    &::after{
        top: 6px;
    }
    &::before{
        top: -6px;
    }
}