.context-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.08;
    text-decoration-line: underline;
    color: $colorSectionTitle !important;
    text-underline-offset: 4px;
    &--card{
        color: $colorCardLinks !important;

    }
}