.reviews-slider {
    position: relative;
    min-height: 350px;
}
.reviews-slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    // column-gap: 15px;
    padding: 10px;
    margin: 60px;
    width: 391px;
    height: 249px;
    border-radius: 47px;
    background: rgba(0, 189, 237, 0.12);
    @media (max-width: 425px) {
        height: 70vh;
        margin: 20px;
        row-gap: 27px;
    }

}
.reviews-slider__avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    flex-shrink: 0;
    @media (max-width: 425px) {
        width: 150px;
        height: 150px;
        border-width: 7px;
    }
}
.reviews-slider__holder-img{
    overflow: hidden;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    @media (max-width: 425px) {
        width: 100px;
        height: 100px;
    }
}
.reviews-slider__text {
    font-size: 12px;
    font-weight: 400;
    
    @media (max-width: 1440px) {
        font-size: 18px;
    }

}
.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.slick-center{
    transform: scale(1.4);
}
.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    z-index: 3;
    align-items: center;
    justify-content: center;
    background-color: $colorSectionTitle;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    @media (max-width: 425px) {
        top: 88%;
        background-color: $colorTextSlider;
    }

    svg{
        width: 35px;
        height: 35px;
    }

    path{
        fill: #ffff;
        @media (max-width: 425px) {
            fill: #00BDED;
        }
    }

}
.slick-prev{
    padding-right: 5px;
    left: 0;
    @media (max-width: 425px) {
        left: 30px;
    }
}
.slick-next{
    padding-left: 5px;
    right: 0;
    @media (max-width: 425px) {
        right: 30px;
    }
}
.slick-slide{
    transition: filter 0.8s, background-color 0.8s, color 0.8s,  ;
    filter: blur(5px);
}
.slick-center{
    background-color: $colorSectionTitle;
    color: #ffff;
    filter: none;
    
    .reviews-slider__avatar{
        transition: border-color 0.8s;
        border-color: #ffff;
    }
}
.reviews-slider .slick-active{
    @media (max-width: 1440px) {
        background-color: #00BDED;
        color: white;
        filter: blur(0px);
        
        .reviews-slider__avatar{
            transition: border-color 0.8s;
            border-color: #ffff;
        }
}
}
