.wrapper-main-title {
}
.main-title {
    font-weight: 700;
    font-size: 74px;
    line-height: 1.08;
    color: $colorCardLinks;
}
.wrapper-main-subtitle {
    margin-bottom: 50px;
}
.main-subtitle {
    font-weight: 700;
    font-size: 74px;
    line-height: 1.08;
    color: $colorContextText;
}
.section-title {
    font-weight: 700;
    font-size: 57px;
    line-height: 1.2;
}
.section-title__color-part{
    &--color-one{
        color: $colorSectionTitle;
    }
}