.wrapper-main-title {
}
.main-title {
    font-weight: 700;
    font-size: 74px;
    line-height: 1.08;
    color: $colorCardLinks;

    @media (max-width: 1440px) {
    font-size: 54px;
    }
    
}
.wrapper-main-subtitle {
    margin-bottom: 50px;

    @media (max-width: 1440px) {
    margin-bottom: 25px;
    }
}
.main-subtitle {
    font-weight: 700;
    font-size: 74px;
    line-height: 1.08;
    color: $colorContextText;
    
    @media (max-width: 1440px) {
    font-size: 54px;
    }
}
.section-title {
    font-weight: 700;
    font-size: 57px;
    line-height: 1.2;
    color: $colorCardLinks;
    &--black{
        color: $colorContextText;
    }
    @media (max-width: 1440px) {
    font-size: 40px;
    }
}
.section-title__color-part{
    &--color-one{
        color: $colorSectionTitle;
    }
}
.title__color-part{
    color: $colorContextText;
}
.wrapper-section-title{
    margin-bottom: 55px;
    &--block{
        max-width: 1165px;
        margin: 0 auto 60px;
    }
}
.wrapper-block-title{
    margin-bottom: 25px;
}
.block-title{
    color: $colorContextText;
    font-size: 24px;   
    font-weight: 700;
}